{% extends 'layout.twig' %}

{% block content %}

	<h3>Управление базой данных</h3><br>

	<a href="/admin_products/show" class="btn-basket">Продукты</a>
	<a href="/admin_categories/show" class="btn-basket">Категории</a>
	<a href="/admin_orders/show" class="btn-basket">Заказы</a>

{% endblock %}